.container {
	background-color:'#23C49B';
	color: white;
	font-weight: 700;
	font-size: 1.5em;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	transition: all .4s ease-in-out; 
	border: none;
}

.container:hover {
	cursor: pointer;
	transform: scale(0.98);
}

@media only screen and (max-width: 900px) {
	.container {
		font-size: 1em;
	}

	.container:hover {
		cursor: pointer;
		transform: none;
	}
}